/* .headerNav {
    position: fixed;
    z-index: 1; 
} */

.header {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid black;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: space-between;
    /* background: #066cfa; */
}
.header_text {
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #F8EBD7;
    padding: 1vh 10vh;   
    /* margin: auto 0; */
    /* padding: 11px 135px; */
    border-radius: 10px;
    background-color: #F8EBD7;
    /* line-height: 100%; */
    align-items: center;
    justify-content: center;
}

.footer {
    font-size: 1.5em;
    clear: both;
    width: 100%;
    height: 120px;
    /* background: #c3590a; */
}

